

/*MITGLIEDERLISTE SUCHE AVATARS*/
.random-avatar { 
  -webkit-border-radius: 50%; 
  -moz-border-radius: 50%; 
  border-radius: 50%; background-color: #ccc; width: 100px;
  height: 100px; color: #fff; text-align: center; line-height: 105px; margin-right: auto; margin-left: auto; font-size: 2rem; font-weight: 300; }

.avatar {  
  -webkit-border-radius: 50%; margin-right: auto; margin-left: auto; 
  -moz-border-radius: 50%; 
  border-radius: 50%; width: 100px;
  height: 100px; color: #fff; text-align: center;  }
.avatar img { -webkit-border-radius: 50%; 
  -moz-border-radius: 50%; 
  border-radius: 50%;}
.avatar-name { margin-top: 0.5rem; text-align: center;}
.avatar-wrapper {text-align: center; min-height: 215px; max-height: 240px;}
.avatar-job { font-size: 0.8rem;}
.avatar-job a {color: #b7b7b7}
.avatar-city { font-size: 0.8rem;}
.avatar-city a {color: #b7b7b7}
.view--search .views-row-last {float: left !important;}



/*PROFILANSICHT*/
.views-label {font-weight: 700;}
.views-field-field-stadt .field-content {display: inline;}
.views-field-field-class-of .field-content {display: inline;}
.views-field-field-unternehmen .field-content {display: inline;}
.views-label-field-irebs-core-position .field-content {display: inline;}
.views-field-field-website .field-content {display: inline;}
.view-userprofil .views-field {padding-top: 1rem; padding-bottom: 1rem; border-bottom: 1px solid #eee;}
.view-userprofil .views-field-picture {margin-bottom: 2rem; border:0px;}
.view-userprofil .views-label {}
.view-userprofil .avatar-name {font-weight: 700;}


/*FIRMENPROFIL*/
.firmenheadline {text-align: center;}

/*SUCHE*/
.views-exposed-form .views-widget-filter-combine { padding: 0px;}
.views-exposed-form .views-widget-filter-combine input {}
.views-exposed-form .views-submit-button {padding: 0px;}
.views-exposed-form .views-submit-button .form-submit {margin: 0px;}
.views-exposed-form .views-widget-filter-field_stadt_tid { margin-left: 1rem; padding: 0px;}

/*TYPO*/
body{    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; background-color: #2c2e2f;}
.page {background-color: #fff;}    
h1 { margin-bottom: 3rem; color:  #08223B; text-transform: uppercase; font-size: 1.1rem; font-weight: 300; letter-spacing: 2px;}
h1:after{
margin: 0 auto;
display: block;
content: '';
height: 1px;
width: 75px;
margin-top: 20px;
background: #08223B; }

/*PAGINATION*/
ul.pagination li a, ul.pagination li button {border-radius: 0px; padding: 0.5rem 0.9rem 0.5rem;}

/*FOOTER*/
.l-footer {background-color: #2c2e2f; margin-top: 5rem; padding-top: 3rem; padding-bottom: 3rem; color: #454545; font-size: 1rem;}
.l-footer p {margin: 0px;}
.l-footer a { color: #666; }





