/* $Id: styles.css,v 1.1.2.2.2.1 2011/01/11 01:08:49 dvessel Exp $ */
body {background-color: #F0F0ED;}

#page {box-shadow: 0 0 85px 
rgba(0, 0, 0, .3);
border-radius: 0 0 10px 10px; background-color:#fff; margin-bottom:40px;}

#highlighted {margin:0px; padding:0px;}

a {color:#08223B;}
a:link {color:#08223B;}


h1#site-name {
  margin-bottom: 0;
}
#stellenangebote-node-form {margin-left:20px; margin-right:20px;}
#main-menu { margin-left:0px;}
#main-menu li a { text-decoration:none; font-size:12px; color:#0074BD}
#secondary-menu a { text-decoration:none; font-size:12px;}

#block-block-1 a {text-decoration:none;}
#block-block-1 {font-size:11px;}
.page-stellenangebote  h1 {display:none;}

#site-header,
#site-subheader,
#footer-region,
.column,
.node,
.comment,
.block {
  margin-bottom: 1.5em;
}


/*MENU*/

ul.main-menu,
ul.secondary-menu {
  display: block;
  margin: 0;
  padding: 0; float: left;
}

.form-text {padding:5px; width:300px; border:1px solid #ccc; }
.form-submit {background-color: #08223B;
border: none;
color: white !important; 
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
border-radius: 2px;
cursor: default !important;
display: inline-block;
font-weight: bold;
height: 29px;
line-height: 29px;
min-width: 54px;
padding: 0 8px;
text-align: center;
text-decoration: none !important;
-moz-user-select: none;
-webkit-user-select: none; font-weight:normal;
}

#edit-cancel {margin-left:15px;}
#edit-delete {margin-left:15px;}
#edit-description-format {display:none;}

#site-header {padding-top:20px;}
#site-menu {float: right;}
#secondary-menu {float: right;}
.menu-15 { background: url(../images/key.png) no-repeat right center; }
.menu-15 a {padding-right:18px;}

.grey {background-color:#ccc; min-height:245px; margin-bottom:25px;}

/*VIEWS*/

.rahmen{ }
.blue { }
#logo {margin-left:20px;}

.balken { background: url(../images/back.gif) no-repeat right top; display:block; height:7px;  }

.view-stellenangebote .anhang {}
.view-stellenangebote h2.title  { margin-bottom:5px; padding-bottom:0px; margin-top:0px;  font-size:16px; font-family: Arial, "MS Trebuchet", sans-serif; color: #08223B; line-height:18px; }
.view-stellenangebote h2.title a{ text-decoration:none; color: #08223B;}
.view-stellenangebote  .time {font-style: italic; color: #888; margin-bottom:0px; }
.view-stellenangebote  .views-field-field-unternehmen {margin-left:20px; margin-right:20px;}
.view-stellenangebote .logo  {}
.view-stellenangebote .unternehmen { margin-bottom:5px; }
.view-stellenangebote .unternehmen a { text-decoration:none; color: #08223B;}
.view-stellenangebote .anhang {margin-top:10px;}
.view-stellenangebote a.anhangz { text-decoration:none; color: #08223B; background: url(../images/icon_down.gif) no-repeat left center; padding-left:20px; }


.view-id-taxonomy_term  .views-row {display:block; margin-bottom:20px; padding-bottom:20px;  padding-right:20px; border-bottom:1px solid #ccc;}
.view-id-taxonomy_term  .views-field-created {font-style: italic; margin-top:20px; color: #888; margin-bottom:0px; }

.view-id-taxonomy_term  .views-field-title a{ margin-top:0px;  font-size:16px; font-family: Arial, "MS Trebuchet", sans-serif; color: #08223B; line-height:18px; margin-bottom:20px; padding-bottom:0px; text-decoration:none; color: #08223B;}

a.anhangz { text-decoration:none; color: #08223B; background: url(../images/icon_down.gif) no-repeat left center; padding-left:20px; }

.views-row-first, .views-row-5 {margin-left:0px;}
.views-row-first, .views-row-9 {margin-left:0px;}
.views-row-first, .views-row-13 {margin-left:0px;}
.views-row-4, .views-row-8, .views-row-12, .views-row-16 {margin-right: 0px;}

/*HERO*/

.hero { padding:50px; background-color: #DFEFFF;}
.hero h2 {font-weight: normal;
font-size: 2.6em;
margin-bottom: 10px;}
.hero p {font-family:Georgia, "Times New Roman", Times, serif; font-size:16px;  line-height: 26px;color:#555;}


/*LOGIN*/
.show-gridz h1 { margin-left:20px;}

.page-node-5 h1{display:none;}
#block-user-login {background-color:#eeeeee; padding:55px; padding-top:20px; padding-bottom:20px;}

ul.primary {
padding: 1em 1em 0.5em 1em;}
ul.primary li a {padding: 0.5em 1em;}

.field-name-body .newsbox:first-child {display:none;}
.field-name-body .field-item:first-child p {display:none;}

table {
  max-width: 100%;
   width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
}

table {
  width: 100%;
  margin-bottom: 18px;
}

table th,
table td {
  padding: 8px;
  line-height: 18px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}

table th {
  font-weight: bold;
}

table thead th {
  vertical-align: bottom;
}

table caption + thead tr:first-child th,
table caption + thead tr:first-child td,
table colgroup + thead tr:first-child th,
table colgroup + thead tr:first-child td,
table thead:first-child tr:first-child th,
table thead:first-child tr:first-child td {
  border-top: 0;
}

table tbody + tbody {
  border-top: 2px solid #dddddd;
}

table-condensed th,
table-condensed td {
  padding: 4px 5px;
}

#block-menu-menu-headmenu ul  { padding:0px; margin:0px; padding-left:30px; background-color:#ED6E28;}
#block-menu-menu-headmenu ul li {padding:0px; margin:0px; display:inline;}
#block-menu-menu-headmenu ul li a { background-color:#eee; padding:10px; line-height:16px; margin:0px; display:inline-block; position:relative; bottom:-1px; text-decoration:none; margin-top:5px; }
#block-menu-menu-headmenu ul li a.active { border-bottom:1px solid #fff; background-color:#fff;}
.form-type-bef-checkbox {display:inline-block; margin-right:20px;}
.views-exposed-widgets { margin-bottom:10px; margin-left:0px; padding-bottom:20px;}



.views-label-field-unternehmen {display:inline;}
.views-field-field-unternehmen .field-content {display:inline;}

.view-userprofil {padding-left:50px; padding-right:50px;}

.views-field-field-titel { font-size:16px; margin-bottom:10px; display:inline-block;}
.views-field-field-vorname {  font-size:16px; margin-bottom:10px; display:inline-block;}
.views-field-field-nachname {  font-size:16px; margin-bottom:10px; display:inline-block;}

h3.namez {font-size:16px; margin-bottom:10px;}


.field-name-field-bilder .field-item { float:left; display:block; margin-right:10px; margin-bottom:10px;}
#site-subheader {margin-bottom:0px;}

table th, table td {
border-bottom: 2px solid #ccc;
border-top: none;
padding-bottom:30px;
border-right: 8px solid white;
padding-right: 0px;
}


table td.col-last { border-right:none;}
tr.row-2 td { padding-top:30px; }
tr.row-3 td { padding-top:30px; }
tr.row-4 td { padding-top:30px; }

#main-content {margin-left:30px; margin-right:25px;}

.views-field-created {
font-style: italic;
color: #888;
margin-bottom: 0px;}


.view-bilderuebersicht h2.views-field-title {
margin-bottom: 5px;

font-size: 14px;

line-height: 18px;}

.view-bilderuebersicht h2.views-field-title a { text-decoration:none;}

.view-id-taxonomy_term ul {margin:0px; padding:0px;}
.view-id-taxonomy_term ul li {margin:0px; padding:0px;}

#webform-client-form-52 label { width:140px; display:inline-block;}
#webform-client-form-52 label.option { display:inline;}

#webform-client-form-52 input.form-checkbox, input.form-radio {
vertical-align: baseline;}

#webform-component-studienbeginn {display:inline-block;}
#webform-component-jahr {display:inline-block;}
#webform-component-jahr .form-text {width:50px;}
#webform-component-jahr-2 {display:inline-block;}
#webform-component-jahr-2 .form-text {width:50px;}
#webform-component-voraussichtliches-studienende {display:inline-block;}
#webform-component-hg {margin:0px;}

#edit-search-block-form--2 {width:150px;}
.region-search-box {text-align:right;}

#node-53 ul li  { list-style-image:none; list-style:none;}
hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #ffffff;
}