body{background:#F0F0ED;display:block}
*{outline:0;vertical-align:baseline;margin:0;padding:0}
html,body,#wrapper{width:100%}
html>body,html>body #wrapper{height:auto}
#edit-field-titel-und .form-item{display:inline-block;margin-right:10px}
#page{background-color:#fff;margin-bottom:40px}
.navio{background-color:#ED6E28;border-top:15px solid #F0F0ED}
.footero{background:#F0F0ED;display:block;margin:0;padding:0}
#block-block-1{margin-top:20px;font-size:11px}
#block-menu-menu-headmenu{margin-bottom:0;float:left}
#search-box{margin-top:8px}
#main{margin-top:40px}
#main-menu li a{text-decoration:none;font-size:12px;color:#0074BD}
#secondary-menu a{text-decoration:none;font-size:12px}
#site-header,#site-subheader,#footer-region,.column,.node,.comment,.block{margin-bottom:1.5em}
ul.main-menu,ul.secondary-menu{display:block;float:left;margin:0;padding:0}
.form-text{width:300px;border:1px solid #ccc;padding:5px}
.form-submit{background-color:#08223B;border:none;color:#FFF!important;cursor:default!important;display:inline-block;height:26px;line-height:26px;min-width:54px;text-align:center;text-decoration:none!important;-moz-user-select:none;-webkit-user-select:none;font-weight:400;vertical-align:bottom;padding:0 8px}
#site-header{padding-top:20px}
.menu-15{background:url(../images/key.png) no-repeat right center}
.menu-15 a{padding-right:18px}
.grey{background-color:#ccc;min-height:245px;margin-bottom:25px}
.rahmen{border:1px solid #CCC;width:210px;min-height:150px;padding:10px}
.not-logged-in #main{margin-top:0}
tr.odd{background-color:#f0f0ed;border-bottom:1px solid #FFF;padding:.1em .6em}
#edit-search-block-form--2{border:none;width:150px}
tr.even{background-color:#f9f9f8;border-bottom:1px solid #FFF;padding:.1em .6em}
.balken{background:url(../images/back.gif) no-repeat right top;display:block;height:7px}
.view-stellenangebote h2.title{margin-bottom:5px;padding-bottom:0;margin-top:0;font-size:12px;font-family:Arial, "MS Trebuchet", sans-serif;color:#08223B;line-height:18px}
.view-stellenangebote .unternehmen{margin-bottom:5px}
.view-stellenangebote .anhang{margin-top:10px}
.view-stellenangebote-edit h2.title{margin-bottom:5px;padding-bottom:0;margin-top:0;font-size:12px;font-family:Arial, "MS Trebuchet", sans-serif;color:#08223B;line-height:18px}
.view-stellenangebote-edit .unternehmen{margin-bottom:5px}
.view-stellenangebote-edit .anhang{margin-top:10px}
.view-id-taxonomy_term .views-row{display:block;margin-bottom:20px;padding-bottom:20px;padding-right:20px;border-bottom:1px solid #ccc}
.view-id-taxonomy_term .views-field-created{font-style:italic;margin-top:20px;color:#888;margin-bottom:0}
.view-id-taxonomy_term .views-field-title a{margin-top:0;font-size:16px;font-family:Arial, "MS Trebuchet", sans-serif;line-height:18px;margin-bottom:20px;padding-bottom:0;text-decoration:none;color:#08223B}
.views-row-4,.views-row-8,.views-row-12,.views-row-16{margin-right:0}
.hero{background-color:#DFEFFF;padding:50px}
.hero h2{font-weight:400;font-size:2.6em;margin-bottom:10px}
.hero p{font-family:Georgia, "Times New Roman", Times, serif;font-size:16px;line-height:26px;color:#555}
#block-user-login{background-color:#eee;padding:20px 55px}
ul.primary{padding:1em 1em .5em}
ul.primary li a{padding:.5em 1em}
#node-6 p{display:block}
table{max-width:100%;background-color:transparent;border-collapse:collapse;border-spacing:0;width:100%;margin-bottom:18px}
.node-bilder .field-name-body{margin-bottom:20px}
#edit-field-bilder-und legend{font-weight:700;padding-top:20px}
table th,table td{line-height:18px;text-align:left;vertical-align:top;border-top:none;padding:8px 0 8px 8px}
table th{font-weight:700}
table caption + thead tr:first-child th,table caption + thead tr:first-child td,table colgroup + thead tr:first-child th,table colgroup + thead tr:first-child td,table thead:first-child tr:first-child th,table thead:first-child tr:first-child td{border-top:0}
table tbody + tbody{border-top:2px solid #ddd}
table-condensed th,table-condensed td{padding:4px 5px}
#block-search-form{float:right;margin:0;padding:0}
#block-menu-menu-headmenu ul{background-color:#ED6E28;margin:0;padding:0}
#block-menu-menu-headmenu ul li{display:inline;margin:0;padding:0}
#block-menu-menu-headmenu ul li a{color:#fff;line-height:16px;display:inline-block;position:relative;bottom:-1px;text-decoration:none;margin:5px 0 0;padding:10px}
#block-menu-menu-headmenu ul li a.active{border-bottom:1px solid #fff;color:#444;background-color:#fff}
.form-type-bef-checkbox{display:inline-block;margin-right:20px}
.views-exposed-widgets{margin-bottom:10px;margin-left:0;padding-bottom:20px}
h3.namez{font-size:12px;margin-bottom:0}
.field-name-field-bilder .field-item{float:left;display:block;margin-right:10px;margin-bottom:10px}
table td.col-last{border-right:none}
.view-bilderuebersicht h2.views-field-title{margin-bottom:5px;font-size:14px;line-height:18px}
#webform-client-form-52 label{width:140px;display:inline-block}
#webform-client-form-52 input.form-checkbox,input.form-radio{vertical-align:baseline}
#webform-component-hg{margin:0}
.region-search-box{text-align:right}
#node-53 ul li{list-style-image:none;list-style:none}
.page-node-53 #main{margin-top:50px}
hr{border:0;border-top:1px solid #ccc;border-bottom:1px solid #fff;margin:20px 0}
.grid-16{margin-left:0;margin-right:0}
.profile .field-label-above{margin-bottom:10px}
.huhu{margin-left:20px;margin-right:20px;padding-top:20px}
#edit-body-und-0-format,.page-stellenangebote h1,.form-item-search-block-form label,#edit-description-format,.page-node-5 h1,.field-name-body .newsbox:first-child,.page-node-53 h1{display:none}

.field-name-body .field-item:first-child p {}
.contento,.heado{background-color:#fff}
#highlighted,.view-id-taxonomy_term ul,.view-id-taxonomy_term ul li{margin:0;padding:0}
a,a:link{color:#08223B}
h1#site-name,#site-subheader{margin-bottom:0}
#stellenangebote-node-form,.view-stellenangebote .views-field-field-unternehmen{margin-left:20px;margin-right:20px}
#main-menu,.views-row-first,.views-row-5,.views-row-first,.views-row-9,.views-row-first,.views-row-13,.show-gridz h1{margin-left:0}
#block-block-1 a,.view-bilderuebersicht h2.views-field-title a{text-decoration:none}
#search-block-form .form-actions,table thead th{vertical-align:bottom}
#edit-cancel,#edit-delete{margin-left:15px}
#site-menu,#secondary-menu{float:right}
.view-stellenangebote h2.title a,.view-stellenangebote .unternehmen a{text-decoration:none;color:#08223B}
.view-stellenangebote .time,.views-field-created{font-style:italic;color:#888;margin-bottom:0}
.view-stellenangebote a.anhangz,a.anhangz{text-decoration:none;color:#08223B;background:url(../images/icon_down.gif) no-repeat left center;padding-left:20px}
.views-label-field-unternehmen,.views-field-field-unternehmen .field-content,#webform-client-form-52 label.option{display:inline}
.views-field-field-titel,.views-field-field-vorname,.views-field-field-nachname{font-size:16px;margin-bottom:10px;display:inline-block}
tr.row-2 td,tr.row-3 td,tr.row-4 td{padding-top:30px}
#webform-component-studienbeginn,#webform-component-jahr,#webform-component-jahr-2,#webform-component-voraussichtliches-studienende{display:inline-block}
#webform-component-jahr .form-text,#webform-component-jahr-2 .form-text{width:50px}
.mainlik { padding: 10px; margin-bottom: 20px;
	
}
.element-invisible {
	display: none;
}
.yellow {
 background-color: #fffede; border-top: 1px solid #ccc;
}
.feed-icon {display: none;}
.adminm {
	float: left; margin-right: 20px;
}
.af-button-large {background-color: #ED6E28; padding: 10px; color: #fff; text-decoration: none;}
a.af-button-large:hover {color: #000;}
a.af-button-large:visited {color: #fff;}
a.af-button-large:link {color: #fff;}

textarea.form-textarea {border: none; }

.resizable-textarea .grippie {display: none;}
.filter-wrapper {display: none;}
#edit-author--2 {display: none;}

.field-widget-text-textarea{background-color: #eee; padding: 10px;}
.submitted {margin-bottom: 5px;}
.field-name-comment-body {width: 610px;}
.field-name-comment-body textarea {background-color: #eee;}
.form-item-comment-body-und-0-value label { display: none;}
.forum-node-create-links {
	position: absolute; left: 785px;
float: left;
}
.indented {margin-left: 100px;}
.forum-node-create-links .forum-add-node {margin: 0px; float: right;}
.forum-node-create-links {width: 155px; margin-top: 30px;}
.forum-node-create-links-top {padding: 0px; margin-top: -20px;}
.forum-post-info {border-bottom: 1px solid #ccc; padding-bottom: 5px;}
.comment-wrapper {padding-top: 10px;}
.comment-wrapper h2 {font-size: 14px;}
.forum-post-panel-sub {width: 170px;}
.forum-post-panel-main {padding: 10px;}
#edit-comment-body-und-0-value {resize:none; font-family: Arial}
.form-item-comment-body-und-0-value {margin: 0px;}
#sort-topic-submit {height: 20px;
line-height: 10px;
font-size: 10px;}
h2.comment-form {border-top: 1px solid #ccc; padding-top: 20px;}
.forum-post-content .field-name-field-bild {margin-top: 18px; margin-bottom: 15px;}
.forum-topic-header .topic-reply-link {position: absolute;
left: 855px;
margin-top: -60px;}

.new {background-color:rgba(226, 226, 11, 0.54); padding: 4px;}
#webform-component-hausnummer label {margin-right: 13px;}
.page-node-52 .block-user {display: none;}